%filters.table-filters#honestBrokerFilters{ data: { url: group_lab_honest_brokers_path(group) } }
  = table_search('searchLabHonestBrokers')
  .tooltip-wrapper.d-flex{ title: t('groups.lab_honest_brokers.filters.sort_by'), data: { toggle: 'tooltip' } }
    = select_tag 'sort_by', honest_broker_sort_filter_options(params[:sort_by]), class: 'selectpicker filter-select form-control', title: t('groups.lab_honest_brokers.filters.sort_by'), data: { field: 'sort_by', style: 'btn-lg btn-link filter', dropdown_align_right: 'true', header: t('groups.lab_honest_brokers.filters.sort_by') }
  .tooltip-wrapper.d-flex{ title: t('groups.lab_honest_brokers.filters.sort_order'), data: { toggle: 'tooltip' } }
    = select_tag 'sort_order', honest_broker_sort_order_options(params[:sort_order]), class: 'selectpicker filter-select form-control', data: { field: 'sort_order', style: 'btn-lg btn-link filter', dropdown_align_right: 'true', header: t('groups.lab_honest_brokers.filters.sort_order') }
