%filters.table-filters#sourceFilters{ data: { url: group_sources_path(group) } }
  -#= text_field_tag 'searchSources', params[:term], class: 'form-control form-control-lg table-search', placeholder: t('actions.search')
  .flex-fill
