%p
  = t('mailers.footer.text1')

%p{ style: 'margin-bottom: 0' }
  %strong
    = t('mailers.footer.text2')

= link_to ENV.fetch('REPLY_EMAIL'), mailto:ENV.fetch('REPLY_EMAIL')
= link_to ENV.fetch('ROOT_URL'), ENV.fetch('ROOT_URL')
