%p{ style: 'margin-bottom: 0' }
  %strong
    = t('mailers.footer.text')

%p{ style: 'margin:0' }
  = link_to ENV.fetch('REPLY_EMAIL'), "mailto:#{ENV.fetch('REPLY_EMAIL')}"
%p{ style: 'margin:0' }
  = link_to ENV.fetch('ROOT_URL'), ENV.fetch('ROOT_URL')
