%p
  = t(:mailers)[:release_specimen_mailer][:release_email][:intro].html_safe
%p
  = t('mailers.release_specimen_mailer.release_email.text', type: @study_type.downcase, study: @study).html_safe
%p
  = t(:mailers)[:release_specimen_mailer][:release_email][:closing].html_safe