= @group.discard_email
%p
  %strong
    = t('mailers.specimen_id', id: @specimen.identifier)
= render 'layouts/mailer/request_link', request: @request
= render 'layouts/mailer/request_information', request: @request, specimen: @specimen
