%subheader
  %ul.nav.subheader-links
    %li.nav-item
      = link_to t('groups.tabs.details'), group.new_record? ? 'javascript:void(0)' : edit_group_path(group, tab: 'details'), class: ['nav-link', params[:tab].blank? || params[:tab] == 'details' ? 'active' : '']
    %li.nav-item
      = link_to t('groups.tabs.users'), group.new_record? ? 'javascript:void(0)' : edit_group_path(group, tab: 'users'), class: ['nav-link', group.new_record? ? 'disabled' : '', params[:tab] == 'users' ? 'active' : '']
    %li.nav-item
      = link_to t('groups.tabs.sources'), group.new_record? ? 'javascript:void(0)' : edit_group_path(group, tab: 'sources'), class: ['nav-link', group.new_record? ? 'disabled' : '', params[:tab] == 'sources' ? 'active' : '']
    %li.nav-item
      = link_to t('groups.tabs.services'), group.new_record? ? 'javascript:void(0)' : edit_group_path(group, tab: 'services'), class: ['nav-link', group.new_record? ? 'disabled' : '', params[:tab] == 'services' ? 'active' : '']
