#draftRequests{ class: draft_requests.any? ? '' : 'd-none' }
  - draft_requests.each do |dr|
    %h4.alert.alert-warning.draft-request{ role: 'alert' }
      = link_to 'javascript:void(0)', title: t(:requests)[:tooltips][:edit_draft], class: 'edit-draft-request d-flex align-items-center', data: { url: edit_sparc_request_path(dr), toggle: 'tooltip' } do
        = icon('fas', 'edit mr-1')
        = request_title_display(dr)
      = cancel_request_button(dr)
