%header
  .page-title
    = icon('fas', 'file-invoice')
    %span
      = t(:requests)[:header]
  %button.btn.btn-lg.btn-primary.new-request{ data: { confirm_swal: true, title: t(:requests)[:create_confirm][:title], html: t(:requests)[:create_confirm][:html], type: '', confirm_text: t(:requests)[:create_confirm][:confirm], cancel_text: t(:requests)[:create_confirm][:cancel], class: 'use-agreement text-left', url: new_sparc_request_path(status: params[:status], sort_by: params[:sort_by], sort_order: params[:sort_order]) } }
    = icon('fas', 'plus-circle')
    = t(:requests)[:create]
