#requests
  - if requests.any?
    - requests.each do |request|
      = render 'sparc_requests/request', request: request
    = render 'layouts/pagination', records: requests, filter_params: request_filter_params.merge({ controller: 'sparc_requests', action: 'index' })
  - else
    .card
      .card-body
        %p.text-center.mb-0
          = t(:constants)[:no_records]
