= render 'sparc_requests/header'
%main#content
  = render 'layouts/flash'
  = render 'sparc_requests/table', requests: @requests
  = render 'sparc_requests/draft_requests', draft_requests: @draft_requests