- content_for :header do
  = render 'sparc_requests/header'
- content_for :filters do
  = render 'sparc_requests/filters'

= render 'sparc_requests/draft_requests', draft_requests: @draft_requests
= render 'sparc_requests/requests', requests: @requests
