%p
  = t('mailers.request_mailer.completion_email.completed_by', user: @completer.full_name, date: format_date(Date.today))
= render 'layouts/mailer/request_link', request: @request
= render 'layouts/mailer/request_information', request: @request
