%p
  = t('mailers.request_mailer.completion_email.completed_by', user: @completer.full_name, date: format_date(Date.today))

%p
  = t('mailers.request_link', direct_link: sparc_request_url(@request)).html_safe
