%p
  = t('mailers.request_mailer.completion_email.completed_by', user: @completer.full_name, date: format_date(Date.today))

%p
  = link_to t('mailers.request_link'), sparc_request_url(@request), target: :_blank
