.d-flex.justify-content-center.w-100
  %iframe.d-none.d-md-block{ src: "https://docs.google.com/presentation/d/e/2PACX-1vRoljb2IhfT0rjE0OGcT8pHdwTljyHx4OAvY3sW6S0YCNoi5WBYS4D78FxAScYNBQ/embed?start=true&loop=false&delayms=60000", frameborder: "0", width: "1280", height: "749", allowfullscreen: "true", mozallowfullscreen: "true", webkitallowfullscreen: "true" }
  %iframe.d-block.d-md-none{ src: "https://docs.google.com/presentation/d/e/2PACX-1vRoljb2IhfT0rjE0OGcT8pHdwTljyHx4OAvY3sW6S0YCNoi5WBYS4D78FxAScYNBQ/embed?start=true&loop=false&delayms=60000", frameborder: "0", width: "640", height: "389", allowfullscreen: "true", mozallowfullscreen: "true", webkitallowfullscreen: "true" }
