default: &default
  adapter: mysql2
  variables:
    sql_mode: TRADITIONAL

testing:
  <<: *default
  host:     localhost
  username: username
  password: password
  database: sparc-request_testing

development:
  <<: *default
  host:     localhost
  username: username
  password: password
  database: sparc-request_development

test:
  <<: *default
  host:     localhost
  username: username
  password: password
  database: sparc-request_test
