%ul.nav.nav-tabs.control-panel-nav
  %li.nav-item
    = link_to t('control_panel.users.link'), control_panel_users_path, remote: true, class: ['nav-link control-panel-link', controller_name == 'users' ? 'active' : '']
  %li.nav-item
    = link_to t('control_panel.groups.link'), control_panel_groups_path, remote: true, class: ['nav-link control-panel-link', controller_name == 'groups' ? 'active' : '']