.border-bottom#groupFilters
  .card-body.justify-content-end.table-filters{ data: { url: control_panel_groups_path } }
    = text_field_tag 'searchGroups', params[:term], class: 'form-control form-control-lg table-search', placeholder: t('control_panel.users.filters.search')
