.control-panel-container#groupManagement
  .card.control-panel
    .card-header
      %h4.card-title.text-center.mb-0
        = t('control_panel.groups.title')
    = render 'control_panel/groups/filters'
    = render 'control_panel/groups/table'
  = render 'control_panel/groups/pagination', groups: @groups
