%table.table.table-bordered.table-hover.mb-0.border-0#groupsTable{ data: { toggle: 'table', url: control_panel_groups_path(group_filter_params), side_pagination: 'server' } }
  %thead
    %tr
      %th.col-2{ data: { field: 'name', sortable: 'true' } }
        = t('control_panel.groups.headers.name')
      %th.col-4{ data: { field: 'sources' } }
        = t('control_panel.groups.headers.sources')
      %th.col-4{ data: { field: 'services' } }
        = t('control_panel.groups.headers.services')
      %th.text-center.col-1{ data: { field: 'actions' } }
        = t('control_panel.groups.headers.manage')