= will_paginate users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-end mb-0), params: user_filter_params.merge({ controller: 'users', action: 'index' })
