.control-panel-container#userManagement
  .card.control-panel
    .card-header
      %h4.card-title.text-center.mb-0
        = t('control_panel.users.title')
    = render 'control_panel/users/filters'
    = render 'control_panel/users/table'
  = render 'control_panel/users/pagination', users: @users
