header {
  padding: 1rem 1.5rem;
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;

  .page-title {
    display: flex;
    align-items: center;

    i {
      margin-right: 1rem;
    }
  }
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@include media-breakpoint-down(sm) {
  header {
    padding: 0.75rem;
  }
}

@include media-breakpoint-up(lg) {
  header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1200px) and (max-width: 1679.98px) {
  header {
    height: $header-height-lg;
  }
}

@media (min-width: 1680px) {
  header {
    height: $header-height-xl;
  }
}
