.protocol-preview {
  text-align: left;

  label {
    width: 200px;
    text-decoration: underline;
  }

}

#quick_scan {
  width: 170px;
}

#match {
  display: none;
  margin-left: -30px;
  margin-bottom: 20px;
}
