html {
  min-height: 100%;
  position: relative;
  background: theme-color('light');

  &.ready {
    body {
      opacity: 1;
    }
  }

  body {
    background: theme-color('light');
    opacity: 0;
    transition: 0.5s opacity ease-in-out;

    main#content {
      background: theme-color('light');
    }
  }
}

a {
  outline: none;
  text-decoration: none;
}

.required {
  span {
    margin-left: $spacer * 0.25;
    color: theme-color('danger');
  }
}

.table-overflow {
  overflow-x: scroll;
}

@include media-breakpoint-down(md) {
  .card {
    border-radius: 0;
    border-left: 0;
    border-right: 0;

    .card-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  html {
    body {
      main#content {
        padding: 1.5rem;

        &> :not(#flashContainer) {
          margin-top: 1.5rem;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  html {
    body {
      main#content {
        padding: 2rem;

        &> :not(#flashContainer) {
          margin-top: 2rem;
        }
      }
    }
  }
}
