.navbar {
  position: absolute;
  top: 0;
  padding: 0;
  border-bottom: 1px solid theme-color-level('dark', 5);
  z-index: 1;

  .navbar-brand {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-toggler {
    border: 0;
  }

  #navbarLinks {
    .navbar-nav {
      .nav-link, #userInformation {
        border: 0;
        border-radius: 0;
        box-shadow: none !important;
        display: flex;
        align-items: center;
        text-align: left;

        &.active, &:hover, &:focus {
          color: theme-color('light');
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .navbar {
    position: relative;
    width: 100%;
    border: 0;

    .navbar-brand {
      padding: 1rem 1.5rem;
    }

    #navbarLinks {
      .navbar-nav {
        width: 100%;
        height: 100%;
        justify-content: flex-end;

        .nav-link, #userInformation {
          height: 100%;
          padding: 1rem 1.5rem;
        }

        .nav-link, .nav-item, #userInformation {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    height: $navbar-height-mobile;

    .navbar-brand {
      padding: 0.5rem 0.75rem;
    }

    #navbarLinks {
      position: absolute;
      width: 100%;
      top: $navbar-height-mobile;

      .navbar-nav {
        .nav-link, #userInformation {
          i {
            flex: 10%;
          }

          span {
            flex: 90%;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .navbar {
    position: fixed;
    bottom: 0;
    border-right: 1px solid theme-color-level('dark', 5);
    border-bottom: none;
    flex-flow: column;

    .navbar-brand {
      width: 100%;
      padding: 1.5rem;
      border-bottom: 1px solid theme-color-level('dark', 5);
    }

    #navbarLinks {
      width: 100%;

      .navbar-nav {
        width: 100%;
        height: 100%;
        flex-flow: column;

        #userInformation {
          padding: 1.5rem;
          border-bottom: 1px solid theme-color-level('dark', 5);
          align-items: center;

          i {
            font-size: 3.5rem;
            margin-right: 1.5rem;
          }

          span {
            font-size: 1.5rem;
          }
        }

        .nav-link {
          padding: 1rem 1.5rem;
        }

        .nav-link {
          i {
            flex: 25%;
            font-size: 2rem;
            text-align: center;
          }

          span {
            flex: 75%;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-between(md, lg) {
  .navbar {
    align-items: stretch;
  }
}

@include media-breakpoint-only(md) {
  .navbar {
    #navbarLinks {
      .navbar-nav {
        .nav-link {
          padding: 1rem 2rem;

          span {
            display: none;
          }
        }
      }
    }
  }
}

@include media-breakpoint-only(lg) {
  .navbar {
    #navbarLinks {
      .navbar-nav {
        .nav-link {
          i {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .navbar {
    max-width:  $navbar-width-lg;
    width:      $navbar-width-lg;

    .navbar-brand {
      height: $header-height-lg;
    }
  }
}
