.navbar {
  position: absolute;
  top: 0;
  padding: 0;
  border-bottom: 2px solid theme-color-level('dark', 5);
  z-index: 200;

  .navbar-header {
    .navbar-brand {
      width: 100%;
      font-size: 2rem;
      font-weight: 500;
      @include transition($btn-transition);
    }
  }

  #navbarLinks {
    .navbar-nav {
      .nav-link, #userInformation {
        border: 0;
        border-radius: 0;
        box-shadow: none !important;
        display: flex;
        align-items: center;
        text-align: left;

        &.active, &:hover, &:focus {
          color: theme-color('light');
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .navbar {
    width: 100%;
    align-items: stretch;

    .navbar-header {
      .navbar-brand {
        padding: 1rem 1.5rem;
      }
    }

    #navbarLinks {
      .navbar-nav {
        width: 100%;
        height: 100%;
        justify-content: flex-end;

        .nav-link, #userInformation {
          height: 100%;
          padding: 1rem 1.5rem;
        }

        .nav-link, .nav-item, #userInformation {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    #navbarLinks {
      .navbar-nav {
        .nav-link, #userInformation {
          i {
            flex: 10%;
          }

          span {
            flex: 90%;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    .navbar-header {
      .navbar-brand {
        padding: 0.5rem 0.75rem;
      }
    }

    .navbar-toggler {
      margin: 0 0.75rem;
    }
  }
}

@include media-breakpoint-up(xl) {
  .navbar {
    max-width: 300px;
    position: fixed;
    bottom: 0;
    border-right: 2px solid theme-color-level('dark', 5);
    border-bottom: none;
    flex-flow: column;

    .navbar-header {
      width: 100%;

      .navbar-brand {
        padding: 1.5rem;
      }
    }

    #navbarLinks {
      width: 100%;

      .navbar-nav {
        width: 100%;
        height: 100%;
        border-top: 2px solid theme-color-level('dark', 5);
        flex-flow: column;

        #userInformation {
          padding: 1.5rem;
          border-bottom: 2px solid theme-color-level('dark', 5);
          margin-bottom: 1.5rem;
          align-items: center;

          i {
            font-size: 3.5rem;
            margin-right: 1.5rem;
          }

          span {
            font-size: 1.5rem;
          }
        }

        .nav-link {
          padding: 1rem 1.5rem;
        }

        .nav-link {
          i {
            flex: 25%;
            font-size: 2rem;
          }

          span {
            flex: 75%;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-only(md) {
  .navbar {
    #navbarLinks {
      .navbar-nav {
        .nav-link {
          padding: 1rem 2rem;

          span {
            display: none;
          }
        }
      }
    }
  }
}

@include media-breakpoint-only(lg) {
  .navbar {
    #navbarLinks {
      .navbar-nav {
        .nav-link {
          i {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
