// Place all the styles related to the SparcRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.line-item {
  & + .line-item {
    @extend .mt-4;
    @extend .mt-sm-2;
  }

  i {
    display: flex;
    justify-content: center;
    max-width: 18px;
    min-width: 18px;
  }
}

#requestFormModal {
  .nested_sparc_request_specimen_requests {
    @extend .border-bottom;
    @extend .mb-3;
  }
}

.use-agreement {
  width: 1000px;
  padding: 1.5rem;
}

#draftRequests {
  .draft-request {
    display: flex;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-down(lg) {
  .use-agreement {
    width: 80%;
  }
}

@include media-breakpoint-down(md) {
  .use-agreement {
    width: 100%;
  }
}

@include media-breakpoint-down(sm) {
  .use-agreement {
    padding: 0.5rem;

    .swal2-title {
      font-size: 1.25rem;
    }

    .swal2-content * {
      font-size: 1rem !important;
    }
  }
}
