<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'SPARC Living Biobank', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Dashboard', root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-xs-12 lab-records">
    <%= render 'labs/lab_records', labs: @labs %>
  </div>
</div>

<div class="modal fade" id="release" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
  </div>
</div>
