!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', http_equiv: 'Content-Type' }
    %style{ type: 'text/css', media: 'screen' }
      :css
        table { text-align: left; }
        th, td {
          padding: 0.3rem;
          border: 1px solid black;
        }
  %body
    = render 'layouts/mailer/greeting' if @user
    = yield
